# .gitignore

# Environment
.env
*.env.local

# Python
__pycache__/
*.py[cod]
*.egg-info/
.eggs/
.pytest_cache/
.mypy_cache/
.ruff_cache/
*.cover
htmlcov/
coverage.xml
.coverage

# Virtual envs
venv/
.venv/
env/

# Jupyter
.ipynb_checkpoints/

# Data
/data/incoming/*
!/data/incoming/.gitkeep
*.csv
*.parquet
!tests/**/*.csv

# Model artefacts
mlruns/
mlflow.db
*.pkl
*.joblib

# Great Expectations
infra/great_expectations/uncommitted/
infra/great_expectations/.ge_store_backend_id

# Airflow
airflow.db
airflow.cfg
airflow-webserver.pid
logs/

# Evidently reports
/tmp/evidently_reports/

# OS / Editors
.DS_Store
.idea/
.vscode/
*.swp
